@import "BasicRoller.css";
@import "SkillRoller.css";
@import "Statistics.css";
@import "History.css";
@import "Faves.css";

.App {
    text-align: center;
}

.menu {
    height: 10svh;
}

.menu button {
    flex-grow: 1;
    min-width: 0;
    min-height: 8svh;
    padding: 0;
}

.menu svg {
    preserveAspectRatio: xMidYMid meet;
    width: min(20svw,8svh);
    height: min(20svw,8svh);
}
