@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&family=Noto+Sans&display=swap');

body {
    margin: 0;
    background: black;
    color: white;
    font-family: 'Noto Sans, Noto Emoji';
}


